# Build artifacts
tools/blsverify/c/blst/
tools/blsverify/c/cJSON.c
tools/blsverify/c/cJSON.h
tools/blsverify/c/*.o
tools/blsverify/c/blsverify
tools/blsverify/go/go
tools/blsverify/rust/target/
tools/blsverify/rust/Cargo.lock
